<style>

    body {
        display: flex;
    }
    .sidebar {
        height: 100vh;
        width: 250px;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #007bff;
        color: white;
        padding-top: 20px;
    }
    .sidebar a {
        color: white;
        padding: 10px;
        text-decoration: none;
        display: block;
    }
    .sidebar a:hover {
        background-color: #495057;
    }
</style>

<body>
<div class="sidebar">
    <h4 class="text-center">Menu</h4>
    <a href="#profile">Profil</a>
    <a href="#tasks">Tugas</a>
    <a href="#calendar">Calendar</a>
    <a href="#To-do-List">To-do-List</a>
</div>
</body>